<section id="main-content" class="container main_content homepage">
  <style>
  h2 {text-align:center;
      line-height:10pt;
     }
  h6 {text-align:center;
      line-height:5pt;
     }
  </style>
  <header class="container header">
    <h2> Welcome </h2>
    <h6> A data analytics and statistics blog by Dave Klemish </h6>
  </header>
  <hr>
  Greetings and welcome to my small corner of the internet!  <br> <br>

  This page is intended to be a place where I talk about data, statistics and 
  programming, and how all of these topics can be used for applied data 
  science.  
  
  The goals for this website are: <br> <br>
  <ol>
    <li> Be a useful reminder to myself of things I've learned & done </li>
    <li> Share this information with others</li>
  </ol>
  This website is stored on <a href=https://github.com/dklemish/website>GitHub</a>, so please feel free to take a look there 
  if you're interested in trying things out for yourself.  I hope this 
  experiment is as useful for you as it is for me!
  
</section>
